
.compras{
    border: 2px solid black;
    display: flex;
    flex-direction: wrap !important;
}
.compras-contenedor-imagen{
    width: 200px;
    display: flex;
    margin: 20px;
}

.compras-imagen{
    min-width: 100%;
    height: auto;
}

.compras-detalles{
    display: flex;
    flex-direction: wrap;
    margin: 25px;
    align-items: center;
}
.compras-detalles p{
    margin: 20px;
    font-size: x-large;
}

/****/

.boton-mas1, .boton-menos1{
    margin: 5px;
    padding-bottom: 5px;
    width: 60px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid;
    font-size: 150% !important;
}


.boton-mas1{
    background-color: rgb(78, 115, 184);
    color: white;
}
.boton-mas1:hover{
    background-color: rgb(93, 131, 202);

}

.boton-menos1{
    background-color: rgb(175, 37, 37);
    color: white;
}
.boton-menos1:hover{
    background-color: rgb(194, 65, 65);

}


/***/



@media(max-width: 1010px){
    .compras,
    .compras-detalles{
        flex-direction: column;
    }

}