.contenedor-general{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
}

.contenedor-vista-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 100%; 
    height: 100%;
    position: relative; 
    background-color: white;
}

.contenedor-vista-producto-imagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

}

.contenedor-vista-producto img{
    width: 400px;
    height: 400px;
    margin: 10px;

}

.contenedor-vista-producto-detalles{
    border: 1px solid rgba(131, 114, 114, 0.399);
    display: flex;
    justify-content: center;
}

.detalles{
    margin-right: 20px;
}
.botones-compra{
    display: flex;
    align-items: center;
}

.botones-compra button{
    margin: 5px;
    padding-bottom: 5px;
    width: 60px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid;
    font-size: 150% !important;
}

.boton-mas{
    background-color: rgb(78, 115, 184);
    color: white;
}
.boton-mas:hover{
    background-color: rgb(93, 131, 202);

}

.boton-menos{
    background-color: rgb(175, 37, 37);
    color: white;
}
.boton-menos:hover{
    background-color: rgb(194, 65, 65);

}
